@import 'sass/helper';
@import 'sass/global';
@import 'sass/floating-label';
@import 'sass/animation';

body{
	background:#eee;
}

#header{
	background:#424242;
}
#footer{
	background:#424242;
}

@import 'sass/media';